# Force linguist to detect TypeScript
*.ts linguist-language=TypeScript
*.tsx linguist-language=TypeScript

# Optional: if you want to ignore counting JavaScript files
*.js linguist-documentation=TypeScript
*.jsx linguist-documentation=TypeScript
